@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

.onboarding{
    // height: 100vh;
    background-color: #F8FAFC;
    padding: 2rem 2rem;
    // display: flex;
    // justify-content: space-around;
    // flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;
    border-radius: 10px;
    &__logo__section{
        padding-bottom: 2rem;
        span{
            font-weight: bolder;
            color: #000;
            font-family: $font-bold;
            font-size: 1.5rem;
            cursor: pointer;
        }
        .secondary__span{
            color: $col-secondary;
        }
    }

    &__content{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 87%;
        &__text{
            color: #343434;
            opacity: 1 !important;
            padding-top: 2rem;
            h1{
                font-family: $font-bold;
                padding-bottom: .5rem;
                font-size: 1.7rem;
                line-height: 1.3;
                text-transform: capitalize;
                width: 90%;
            }
            p{
                opacity: .95;
                color: #343434;
                font-size: .95rem;
                line-height: 1.8;
                font-weight: bold;
                width: 90%;
            }
        }
        &__helper{
            background: #23252C;
            padding: 1.5rem;
            border-radius: 6px;
            color: #FFF;
            p{
                font-size: .9rem;
                line-height: 1.8;
            }
            h4{
                padding-top: 1rem;
            }
        }
    }
}

.onboarding::-webkit-scrollbar{
    display: none !important;
}

//Media Queries for small phones
@include phone{
    .onboarding{
        display: none;
    }
}

//Media Queries for tabs
@include tab { 
    .onboarding{
        display: none;
    } 
}
